{{#partial "content"}}
    {{#if editArticle}}
        <h1>edit this article</h1>
        <form action="/articles/{{article.id}}/edit" method="post">
            <br>
            <label for="article_name">edit this article details</label>
            <textarea id="content" name="content" type="text" value="{{article.content}}"></textarea>
            <br>
            <label for="departmentid">Update this article's department:</label>
            <select id="departmentid" name="departmentid">
                {{#each departments}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <p>Don't see the right department?<a href="/departments/new">add a new one first.</a></p>
            <button type="submit" class="btn btn-success">submit</button>
        </form>
    {{else}}
        <h5>Add a new article!</h5>
        <form action="/articles/new" method="post">
            {{#if departments}}

                <div class="form-group">
                    <label for="content">Article</label>
                    <textarea class="form-control rounded-0" id="content" name="content" rows="10" placeholder="Please Enter Article" required></textarea>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <label for="departmentid">Select department for this employee:</label>
                <select id="departmentid" name="departmentid">
                    {{#each departments}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember" required> I agree that information is valid
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Check this checkbox to submit.</div>
                    </label>
                </div>
                <p>Don't see the right department?<a href="/departments/new">Add a new one first.</a></p>
            {{else}}
                <h3> You'll need to add a department before you add a article. <a href="/departments/new">Add one here.</a> </h3>
            {{/if}}
            <button type="submit" class="btn btn-success">submit</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}