{{#partial "content"}}
<div >
    <p>{{coarses.coarse_name}}</p>
    <p>{{coarses.description}}</p>
    <p>{{coarses.duration}}</p>


    <a class="btn btn-warning btn-sm" href="/coarses/{{coarses.id}}/edit">edit Coarse</a>
    <a class="btn btn-warning btn-sm" href="/coarses/{{coarses.id}}/content/{{content.id}}">View Content</a>
    <a class="btn btn-warning btn-sm" href="/subcourses">Add Coarse Units</a>
</div>

    <p>Here are all the Staff enrolled  in this Coarse:</p>

        <div >
            List of staff
        </div>

<div class="row">
    <div class="col-sm-8">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">staff name</th>
                <th scope="col">staff number</th>

            </tr>
            </thead>
            {{#if staff}}
                {{#each staff}}
                    <tbody>
                    <tr>
                        <td></td>
                        <td>{{name}}</td>
                        <td>{{ekNumber}}</td>
                    </tr>
                    </tbody>
                {{/each}}
            {{else}}
                <div >
                    <p>No records</p>
                </div>
            {{/if}}
        </table>
    </div>
    <div class="col-sm-4">
        {{#if content}}
                {{#each contents}}
                    <p>{{content.content}}</p>
               {{/each}}
       {{/if}}
    </div>
</div>
        <div class="card-footer">

            <a class="btn btn-warning btn-sm" href="/coarses/{{editCoarse.id}}/edit">edit Coarse</a>
            <a class="btn btn-warning btn-sm" href="/staff/{{staff.id}}/edit">edit Site</a>
            <a class="btn btn-warning btn-sm" href="/coarses/{{staff.coarseid}}/staff/{{staff.id}}/delete">delete</a>
        </div>

{{/partial}}

{{> layout.hbs}}