{{#partial "content"}}
    <h1>{{engineer.name}}</h1>
    <p>Here are all the Sites listed in this Engineer:</p>
    <ol>

        {{#each sites}}
            <li>
                <p><a href="/categories/{{engineer.id}}/sites/{{id}}">{{description}}</a></p>
            </li>
        {{/each}}
    </ol>
    <a class="btn btn-warning btn-sm" href="/categories/{{engineer.id}}/edit">edit Engineer</a>
    <a class="btn btn-warning btn-sm" href="/categories/{{engineer.id}}/delete">delete Engineer</a>
{{/partial}}

{{> layout.hbs}}