{{#partial "content"}}

    <h1>{{engineer.name}}</h1>

    <p>Here are all the Sites listed in this Engineer:</p>
    <div class="card">
        <div class="card-header">
            List of sites
        </div>


    <div class="card-body">

        <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">site name</th>
            <th scope="col">site number</th>
            <th scope="col">Region</th>
        </tr>
        </thead>

        {{#if sites}}
            {{#each sites }}

                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{description}}</td>
                        <td>{{siteNumber}}</td>
                        <td>{{region}}</td>
                    </tr>
                    </tbody>

            {{/each}}

        {{else}}
            <div class="card-body">
                <p>No records</p>
            </div>
        {{/if}}
    </table>
    </div>
        <div class="card-footer">
            <a class="btn btn-warning btn-sm" href="/sites/{{site.id}}/edit">edit</a>
            <a class="btn btn-warning btn-sm" href="/engineers/{{site.categoryId}}/sites/{{site.id}}/delete">delete</a>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}