{{#partial "content"}}
    {{#if editEngineer}}
        <h1>Edit this Engineer!</h1>
        <form action="/engineers/{{engineer.id}}" method="post">
            <div class="form-group">
                <label for="name">Edit this Engineer's name</label>
                <input class="form-control" id="newName" name="newName" type="text" value="{{engineer.name}}">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="ek_number">Edit this Engineer's EKnunber</label>
                <input class="form-control" id="newEkNumber" name="newEkNumber" type="text" value="{{engineer.ek_number}}">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="region">Edit this Engineer's Region</label>
                <input class="form-control" id="newRegion" name="newRegion" type="text" value="{{engineer.region}}">
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember" required> I agree that information is valid
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to submit.</div>
                </label>
            </div>
            <button type="submit" class="btn btn-warning">submit</button>
        </form>
    {{else}}
        <h5>Add a New Engineer!</h5>
        <form action="/engineers" method="post">
            <div class="form-group">
                <label for="name">NAME: </label>
                <input class="form-control" id="name" placeholder="Enter the Engineer Name"  name="name" type="text" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="ek_number">EK NUMBER:</label>
                <input class="form-control" id="ek_number" name="ek_number" type="text" placeholder="Enter the Employee Number" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <div class="form-group">
                <label for="region">REGION:</label>
                <input class="form-control" id="region" name="region" type="text" placeholder="Enter the Region" required><br><br>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember" required> I agree that information is valid
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to submit.</div>
                </label>
            </div>

            <button type="submit" class="btn btn-success btn-sm">submit</button>
        </form>
    {{/if}}
    <script>
        // Disable form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{{/partial}}

{{> layout.hbs}}