{{#partial "content"}}

    <p> List of Visitors to the Data Center</p>

    {{#if logs}}
     <p> click on the visitors Name to view the Details</p>
        {{else}}
        <p>click<a href="/visitors">here</a>to add an visitor</p>
    {{/if}}

    {{#if logs}}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">NO.</th>
                <th scope="col">NAME</th>
                <th scope="col">COMPANY</th>

                <th scope="col">ID/STAFF NO.</th>
                <th scope="col">PHONE NO.</th>
                <th scope="col">CRQ NO.</th>
                <th scope="col">LOCATION</th>
                <th scope="col">REASON OF VISIT</th>
                <th scope="col">TIME IN</th>
                <th scope="col">TIME OUT</th>
            </tr>
            </thead>
        {{#each logs }}
                <tbody>
                <tr>

                    <td>{{id}}</td>
                    <td><a href="/visitor/{{id}}">{{fullName}}</a></td>
                    <td>{{company}}</td>
                    <td>{{idNumber}}</td>
                    <td>{{phonenumber}}</td>
                    <td>{{crqNumber}}</td>
                    <td>{{location}}</td>
                    <td>{{reason}}</td>
                    <td>{{timeIn}}</td>
                    <td>{{timeOut}}</td>
                </tr>
                </tbody>
        {{/each}}
        </table>
    {{else}}
        <p>No Records</p>
    {{/if}}
    {{name}}
{{/partial}}

{{> layout.hbs}}