{{#partial "content"}}

    <p> <h2>List of Visitors to the Data Center</h2></p>

    {{#if logs}}
     <p> Click on the visitors name to view the details.</p>
        {{else}}
        <p>Click<a href="/visitors">here</a>to add a visitor.</p>
    {{/if}}

    {{#if logs}}

        <div class="table-responsive">
            <table class="table table-bordered table-dark table-sm">

                <thead>
                <tr>
                <th scope="col">NO.</th>
                <th scope="col">NAME</th>
                <th scope="col">COMPANY</th>

                <th scope="col">ID/STAFF NO.</th>
                <th scope="col">PHONE NO.</th>
                <th scope="col">CRQ NO.</th>
                <th scope="col">LOCATION</th>
                <th scope="col">REASON FOR VISIT</th>
                <th scope="col">TIME IN</th>
                <th scope="col">TIME OUT</th>
                <th scope="col">APPROVAL STATUS</th>
            </tr>
            </thead>
        {{#each logs }}
                <tbody>
                <tr>

                    <td>{{id}}</td>
                    <td><a href="/visitor/{{id}}">{{fullName}}</a></td>
                    <td>{{company}}</td>
                    <td>{{idNumber}}</td>
                    <td>{{phonenumber}}</td>
                    <td>{{crqNumber}}</td>
                    <td>{{location}}</td>
                    <td>{{reason}}</td>
                    <td>{{timeIn}}</td>
                    <td>{{timeOut}}</td>
                    <td>{{approvalStatus}}</td>
                </tr>
                </tbody>
        {{/each}}
        </table>
    {{else}}
        <p>No Records</p>
    {{/if}}
    {{name}}
{{/partial}}

{{> layout.hbs}}