{{#partial "content"}}

    <p> List of Field Operation Engineers</p>

    {{#if engineers}}
     <p> click on the Enginneer's Name to view the sites Allocated !!</p>
        {{else}}
        <p>click<a href="/engineers/new">here</a>to add an Engieer</p>
    {{/if}}

    {{#if engineers}}
        {{#each engineers }}

            <p><a href="/engineers/{{id}}">{{name}}</a></p>
        {{/each}}
    {{else}}
        <p>No Records</p>
    {{/if}}
    {{name}}
{{/partial}}

{{> layout.hbs}}