{{#partial "content"}}
    <p>Engineer: {{ category.name }}</p>
    <p>Site: {{ task.description }}</p>

    <div class="panel">
        <div class="panel-heading">
            List of sites
        </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">site name</th>
            <th scope="col">site number</th>
            <th scope="col">Region</th>
        </tr>
        </thead>

        {{#if employees}}
            {{#each employees }}
                <div class="panel-body">
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{employeeName}}</td>
                        <td>{{ekNo}}</td>
                        <td>{{designation}}</td>
                    </tr>
                    </tbody>
                </div>
            {{/each}}
        </table>
        {{else}}
            <div class="panel-body">
                <p>No records</p>
            </div>
        {{/if}}

        <div class="panel-footer">
            <p>

                <a class="btn btn-warning btn-sm"href="/tasks/{{task.id}}/edit">edit</a>
                <a class="btn btn-warning btn-sm" href="/categories/{{task.categoryId}}/tasks/{{task.id}}/delete">delete</a>
            </p>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}