{{#partial "content"}}
    {{#if editStaff}}
        <h1>edit this staff</h1>
        <form action="/staff/{{staff.id}}/edit" method="post">
            <br>
            <label for="name">edit this staff details</label>
            <input id="name" name="name" type="text" value="{{staff.name}}">
            <br>
            <label for="coarseid">Update this staff's coarses:</label>
            <select id="coarseid" name="coarseid">
                {{#each coarses}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <p>Don't see the right coarses?<a href="/coarses/new">add a new one first.</a></p>
            <button type="submit" class="btn btn-success">submit</button>
        </form>
    {{else}}
        <h5>Add a new staff!</h5>
        <form action="/staff/new" method="post">
            {{#if coarses}}
            <div class="form-group">
                <label for="name">EMPLOYEE NAME:</label>
                <input class="form-control" id="name" name="name" type="text" placeholder="Please Enter Staffs Name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="employee_number">EMPLOYEE NUMBER:</label>
                <input class="form-control" id="ekNumber" name="ekNumber" type="text" placeholder="Please Enter Staff Number" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
                <label for="coarseid">Select coarses for this staff:</label>
                <select id="coarseid" name="coarseid">
                    {{#each coarses}}
                        <option value="{{id}}">{{coarse_name}}</option>
                    {{/each}}
                </select>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember" required> I agree that information is valid
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Check this checkbox to submit.</div>
                    </label>
                </div>
                <p>Don't see the right coarses?<a href="/coarses/new">Add a new one first.</a></p>
            {{else}}
                <h3> You'll need to add a coarses before you add a staff. <a href="/coarses/new">Add one here.</a> </h3>
            {{/if}}
            <button type="submit" class="btn btn-success">submit</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}