{{#partial "content"}}

    <div>
        <h2>Visitor Details</h2>
    </div>

    {{#if logs}}
        <p>Please find details of {{visitor.name}} in the table below.</p>
    {{else}}
        <p>Click <a href="/visitors">here</a> to add a visitor.</p>
    {{/if}}

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="bg-info text-white">
                    <th scope="col">No.</th>
                    <th scope="col">Visitor's name</th>
                    <th scope="col">ID No.</th>
                    <th scope="col">Time in</th>
                    <th scope="col">Time out</th>

                </tr>
                </thead>

                        <tbody>
                        <tr class="">

                            <td>{{visitor.id}}</td>
                            <td>{{visitor.fullName}}</td>
                            <td>{{visitor.idNumber}}</td>
                            <td>{{visitor.timeIn}}</td>
                            <td>{{visitor.timeOut}}</td>


                        </tr>
                        </tbody>
            </table>

        </div>

    </div>

        <div class="row">
            <div class="column col-md-4">
                <form action="/visitor/{{visitor.id}}"  method="post">
                    <button type="submit" class="btn btn-success btn-sm">CHECK OUT</button>
                </form>
            </div>

        <div class="column col-md-4">
            <form action="/visitor/{{visitor.id}}"  method="post">
                <button type="submit" class="btn btn-warning btn-sm" href="/">CHECK IN</button>
            </form>
        </div>

        </div>

        </div>


{{/partial}}

{{> layout.hbs}}